Flow control ref to RFC9000

https://github.com/quicwg/ops-drafts/blob/3893028c41567d89a6f416049cff901ce87a5c21/draft-ietf-quic-applicability.md?plain=1#L423 should this be pointing to Section 2.2  or section 4.0 , flow control credit is described there? I also think it will be good if section 4.4 of this document points to Section 4.0 of RFC9000. specially when it talks about flow control credit updates.  

I believe this reference was supposed to point to the following normative statement in 2.2:

```
Endpoints MUST be able to deliver stream data to an application as an ordered byte stream. 
Delivering an ordered byte stream requires that an endpoint buffer any data that is received 
out of order, up to the advertised flow control limit.
```

Section 4 is also relevant but there is also a pointer to section 4 at the end of section 2.2....

I don't think it is obvious here, also introducing "flow control credit" here does not help much without referencing to section 4.0 of RFC9000. 

PR #444 add a reference to section 4 of RFC9000 in section 4.4. of the applicability draft. I still think having the link to section 2.2 of RFC900 in section 4.3 is more clear. flow control credit is not a QUIIC specific term.