Section 8.1 (comment 9)

[Section 8.1](https://www.rfc-editor.org/authors/rfc9308.html#section-8.1): Would you like to provide a reference for memcached?

Current:
   For example, these source ports are associated with
   applications known to be vulnerable to reflection attacks often due
   to server misconfiguration:

   *  port 53 - DNS [RFC1034]

   *  port 123 - NTP [RFC5905]

   *  port 1900 - SSDP [SSDP]

   *  port 5353 - mDNS [RFC6762]

   *  port 11211 - memcached


It's in the iana registry without a ref; so I would rather not add a ref. The details of the protocol are not important, only that the number number should be used.

However in IANA it's actually called "memcache"!

Okay, so let's edit this back to "memcache" (the service name) without a ref then. SGTM.