IESG review Paul Wouters: Section 7 - ack strategy

Section 7 talks about acknowledgment strategy, but it is not actually giving any examples of what the application can do. Since it is kind of a transport layer property and not an application layer property, it is unclear how an application [developer] can replace the "TCP like ack every other packet" functionality. Are there QUIC options to consider that do this? If so, why not mention those here?

I've sent a reply to Paul by email and waiting for a response now.

Unsure why we would specifically reference this rather than other work: draft-li-quic-optimizing-ack-in-wlan/, I expect the correct thing is to reference a WG RFC, and section 2.5 of RFC9065 is one way. Citing the WG ack frequency draft might additionally be useful.

For the record, this is what I replied by mail:

"[MK] This is a whole research area of its own... however, I create an issue to see if people think adding some reference might be useful. There is a wg draft in QUIC for an extension to negotiate the ack frequency and there is another individual draft about strategies for WLANs. Still, this is also not really QUIC specific. Similar proposals also exists for TCP. The difference is that with TCP the network can also do ACK thinning which is not possible with QUIC anymore."

@gorry but RFC9065 section 2.5 doesn't talk about acks at all...

I still propose to add a reference to https://datatracker.ietf.org/doc/draft-ietf-quic-ack-frequency/  as this is a wg doc at least.